
.all-products .container .product-footer .page-num {
    width: 40px;
    height: 40px;
    float: left;
    border: 1px solid rgb(255, 82, 59);
    text-align: center;
    padding-top: 5px;
    margin-left: 10px;
  }
  .all-products .container .product-footer .page-num:hover {
    background-color: rgb(255, 82, 59);
    color: #fff;
  }
  