
.navbar-expand-md .navbar-collapse{
  justify-content: flex-end;
  text-align: center
}
.navbar-light .navbar-nav .nav-link.active{
  color: #ff523b !important;
  font-weight: 600;
}
@media (max-width : 750px) {
  .navbar-nav li{
    border-bottom: 1px solid #ccc;
  } 
}
.button {
  background-color: #ff523b;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  text-decoration:none;
  padding: 10px
}
.button:hover {
  background-color: #563434;
  cursor: pointer;
  color: #fff
}

