
.navbar-nav{
  margin-left: auto;
  text-align: center;
}

.navbar-nav .nav-link{
  color: #858585;
}
.navbar-nav .nav-link.active{
  color: #ff523b;
  font-weight: 600;
}
@media (max-width : 800px) {
  .navbar-nav li{
    border-bottom: 1px solid #ccc;
  } 
}
.button {
  background-color: #ff523b;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  text-decoration:none;
  padding: 10px
}
.button:hover {
  background-color: #563434;
  cursor: pointer;
  color: #fff
}
i {
  color: #ff523b;
}
/* start main footer  */
.footer {
  background-color: #000;
  color: white;
}
.footer .container .content-item h5 {
  color: white;
}

.footer .container .content-item .img-box {
  width: 150px;
}
.footer .container .content-item p {
  color: #858585;
}
.footer .container .content-item p a {
  color: #858585;
  text-decoration: none;
}
.footer .container .content-item p a:hover {
  color: #ff523b;
}
.footer .container .footer-copy {
  color: rgb(138, 138, 138);
  font-size: 20px;
}

/* end main footer  */

